header {
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #f3f3f3;
  border-bottom: 1px solid #e9e9e9;
  a, svg {
    height: 52px;
    width: 130px;
  }
}

header, .fake-header {
  height: 70px;
}
