<div class="card-item d-flex">
  <div class="card-item-image">
    <ngx-skeleton-loader
      [theme]="{
        width: '100px',
        height: '120px',
        'border-top-left-radius': '8px',
        'border-bottom-left-radius': '8px'
      }"
    ></ngx-skeleton-loader>
  </div>
  <div class="card-item-content">
    <p class="m-0">
      <ngx-skeleton-loader
        [theme]="{
          width: '100%'
        }"
      ></ngx-skeleton-loader>
    </p>
    <ngx-skeleton-loader
      [theme]="{
        width: '90%'
      }"
    ></ngx-skeleton-loader>
  </div>
</div>
